{% extends "base.html" %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}

<h1 align="center">Привет, меня зовут Вадим Шпак</h1>
<h3 align="center">Я - начинающий бэкенд разработчик, действующий электроэнергетик, студент Яндекс Практикума</h3>

<p><h4> Yatube - это мой первый проект, раньше ничего не разрабатывал. Но дорога создается под ногами идущего. А хожу я быстро :)</h4></p>
<p><h4> Открыт к любым предложениям и сотрудничеству. Хорошего дня и приятного чтения постов на моем первом сайте! :)</h4></p>

<p><h4 align="left">Я использую приведенные ниже языки и инструменты:</h4>
<p align="left"> <a href="https://www.gnu.org/software/bash/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg" alt="bash" width="30" height="30"/> </a> <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer"> <img src="https://cdn.worldvectorlogo.com/logos/django.svg" alt="django" width="30" height="30"/> </a> <a href="https://git-scm.com/" target="_blank" rel="noreferrer"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="30" height="30"/> </a> <a href="https://www.mysql.com/" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql" width="30" height="30"/> </a> <a href="https://www.python.org" target="_blank" rel="noreferrer"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python" width="30" height="30"/> </a> </p>
</p>

<p><h5 align="left">Можете подписаться на меня в Instagram: никнейм - <span style="color:blue">@starboy_shpak</span></h5>
<p align="left">
<a href="https://instagram.com/starboy_shpak" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="starboy_shpak" height="30" width="40" /></a>
</p>
<h5 align="center">Для связи: <a href="https://t.me/starboy_shpak/" target="_blank">написать в Telegram</a></span></h5>
</p>

{% endblock %} 